{% extends "admin/common/layout.njk" %}

{% block head %}
  <title>Atualizar usuário</title>
  <link rel="stylesheet" href="/admin/users.css">
{% endblock %}

{% block content %}

<form action="/admin/users?_method=DELETE" method="post" id="form-delete">
  <input type="hidden" name="id" value='{{user.id}}'>
  <button type="submit" class="btn btn-delete">Deletar</button>
</form>


<form action="/admin/users?_method=PUT" method="POST"> 
<input type="hidden" name="id" value='{{user.id}}'>

<h3>Atualizar Usuário</h3>

<button type="submit" class="btn btn-save">Salvar</button>

<div class="user-container">
  <div class="item">
    <h4>Nome</h4>
    <input 
      id="name" 
      type="text" 
      name="name" 
      value="{{user.name}}"
      >
  </div>

  <div class="item">
    <h4>Email</h4>
    <input 
      id="email" 
      type="text" 
      name="email"
      value="{{user.email}}"
      onblur="Validate.apply(this,'isEmail')"
      >
  </div>
</div>

<div class="is-admin-checkbox">
  
  <input type="checkbox" name="is_admin" id="is_admin" {% if user.is_admin %} checked {% endif %}>
  <p>Administrador</p>
</div>

</form>

<script src="/admin/scripts.js"></script>
<script src="/admin/confirmation.js"></script>


{% endblock %}