{% extends "./layout.njk" %} 

{% block head %} 
<title>Receitas - Foodfy</title>
<link rel="stylesheet" href="/main/main.css">
{% endblock %}

{% block content %}

<section class="cards">
  {% for recipe in recipes %}
  <div class="card" id="{{recipe.recipe_title}}">
      <div class="card__image-container">
          <a href="/recipes/{{recipe.recipe_id}}"><img src="{{recipe.file_src}}" alt="{{recipe.title}}"></a>
      </div>

    <div class="card__recipe">
      <p class="card__recipe-name">{{recipe.recipe_title}}</p>
      <p class="card__author">{{recipe.chef_name}}</p>
    </div>
  </div>

  {% endfor %}

</section>

{% endblock %}
