/* HEADER */
.header-session {
  background-color: white;
}

.wrapper-header .logo {
  margin: 0 auto;
  flex-grow: initial;
}

/* FORM */

div.wrapper {
  max-width: 500px;
}

div.wrapper h3 {
  display: block;
  text-align: center;
}

div.wrapper a {
  color: #969696;
  font-weight: 600;
  letter-spacing: 0.30px;
}

div.wrapper input {
  margin-bottom: 0;
}

.btn-submit {
  background-color:  #6558C3;
}

div.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

div.wrapper input.red-border {
  border: 1px solid red;
}